<nav class="navbar-expand-lg navbar navbar-dark bg-dark fixed-top"><!--BARRA DE NAVEGACIÓN-->
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/images/5.png" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']"> Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#" *ngFor="let category of categories">{{category.name}}</a>
          <div class="dropdown-divider" *ngIf="identity"></div>
          <a class="dropdown-item" href="#" *ngIf="identity" >Añadir una categoría</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="!identity">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']"> Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/registro']"> Registro</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
      <li *ngIf="identity && identity.image">        
        <img src="{{ url + 'user/avatar/' +identity.image}}" class="avatar_header">
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{identity.name + ' ' + identity.surname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a>
          <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoria</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mi perfil</a>
          <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
          <a class="dropdown-item" [routerLink]="['/logout/true']">Cerrar sesión</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ayuda</a>
      </li>
    </ul>
    
    <!--BUSCADOR-->
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
    

  </div>
</nav><!--CERRAR BARRA DE NAVEGACION-->

<div class="container" style="padding-top: 80px;"> <!--CONTENEDOR PRINCIPAL--> 

 
 <!--MOSTRAR EL CONTENIDO-->
 <router-outlet></router-outlet>  
  

</div><!--CERRAR CONTENEDOR PRINCIPAL-->


<!--<footer class="mt-5 p-3 bg-dark text-light text-right">
  <p class="m-0">Alejandro Chicala | &copy; {{getDate()}} </p>
</footer>-->