<div class="col-md-8 m-auto">

    <div class="form-title  text-left text-center mb-4">
        <h1 class="gradient">Iniciar sesión</h1>
        <p class="text-success bg-light  p-3">Entra y comparte experiencias con el resto de usuarios.</p>      
    </div>

    <div class="alert alert-danger mt-4" *ngIf="status == 'ERROR'">
        {{message}}
    </div>

    <div class="alert alert-success mt-4" *ngIf="status == 'SUCCESS'">
        Hola, {{message}}!
    </div>

    <!--FORMULARIO DE LOGIN-->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">        

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="example@example.com">
            <!--MENSAJE DE ERROR EN LA VALIDACIÓN DEL CAMPO-->
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es válido.</small>
        </div>
        
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required placeholder="***************">
            <!--MENSAJE DE ERROR EN LA VALIDACIÓN DEL CAMPO-->
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">Introduce una contraseña.</small>
        </div>

        <button class="btn btn-success w-100" [disabled]="loginForm.invalid">Identificarse</button>        
        
    </form>
</div>


<div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
</div>
